* {
  box-sizing: border-box;
}

html {
  font-family: Arial;
}

.accounts-container {
  text-align: center;
}

.accountlist {
  display: inline-block;
}

.accountlist {
  padding: 10px;
}

.accountlist h3 {
  font-style: normal;
}

.accountlist ul {
  padding: 10px;
  margin: 10px;
}

.account-details {
  list-style: none;
  padding: 10px;
}

.account-details button {
  width: 75px;
  background-color: teal;
  float: right;
  font-style: italic;
  color: white;
}

.card {
  margin: 10px;
  border: 2px black solid;
  padding: 10px;
  text-align: center;
  width: 25%;
  display: inline-block;
}

.card button {
  width: 75px;
  background-color: teal;
  float: right;
  font-style: italic;
  color: white;
}

.transaction {
  width: 25%;
  border: 1px gray solid;
  margin: 10px;
  padding: 10px;
}

.flex {
  display: flex;
}

.accountsleft {
  float: left;
  width: 50%;
}

.accountsright {
  float: right;
  width: 50%;
}

.accountstitle {
  margin-left: 10px;
  text-align: center;
}

.nav-item:selected {
  color: red;
}
